.down50{
	margin-top: 50px;
}

.down70{
	margin-top: 60px;
}

.am-panel-default{
	margin: 20px 10px 0 10px;
}
.am-comment-footer{
	margin-top: -5px;
	margin-bottom: -5px;
}
.paragraph-default-p{
	margin: 0 10px 0 10px;
	font-size: 13px;
}