* {font-family: "Microsoft YaHei", Times, serif;}
.center {display: block;
		margin-left: auto; 
		margin-right: auto;
		text-align: center;}

textarea{
	resize: none;
}

hr{
	margin-bottom: 15px;
}

.label{
	padding: 0.5em 1em 0.5em;
	font-size: 90%;
	border-radius: 1em;

}

@font-face {
   font-family: 'dacquoise'; 
   src: url('font/dacquoise.regular.ttf') format('truetype');
}

#title span {
  font-family: 'dacquoise'; 
  font-size: 170%;
  font-weight: normal;
}

.down {
	margin-top: 20px;
}

#draw{
	margin-top: 10px;
}

#cy {
	  height: 331px;
  	  background-color: #FAEDEF;
}

#result{
	margin-bottom: -25px;
}

#resultDetail{
	padding-top: 0em;
	height: 4em;
 	overflow-y: scroll;
}

#graphDescript{
	margin-bottom: -20px
}

#maxDegree{
	background-color: #428BCA;
}

#colornum{
	background-color: #D9534F;
}

#c1 {
	color: #D9534F;
}

#c2{
	color: #f0ad4e;
}

#c3{
	color: #5cb85c;
}

#c4{
	color: #3071a9;
}

#c5{
	color: #D9534F;
}
